@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

nav {
    position: fixed;
    z-index: 99;
    width: 100%;

    background: #242526;
}

.serviceslinks {
    display: none;
}

.logo_img {
    mix-blend-mode: lighten;
}

nav .wrapper {
    position: relative;
    max-width: 1300px;
    padding: 0px 30px;
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .logo a {
    color: #f2f2f2;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    height: 55px;
}

.wrapper .nav-links {
    display: inline-flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    background: #3A3B3C;
}

.nav-links .mobile-item {
    display: none;
}

.nav-links .drop-menu {
    position: absolute;
    background: #242526;
    width: 180px;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.li-items {
    width: 235px;
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
}

.drop-menu li a {
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
}

.mega-box {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
}

.mega-box .content {
    background: #242526;
    padding: 25px 20px;
    display: flex;
    /* flex-direction: column; */
    width: 1291px;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.mega-box .content .row {
    /* width: calc(25% - 30px); */
    width: 1291px;
    line-height: 45px;
}

.content .row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content .row header {
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
}

.content .row .links {
    margin-left: -40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-left: 1px solid rgba(255, 255, 255, 0.09);
}

.row .links li {
    padding: 0 20px;
}

.row .links li a {
    padding: 0px;
    padding: 0 20px;
    color: #d9d9d9;
    font-size: 17px;
    display: block;
}

.row .links li a:hover {
    color: #f2f2f2;
}

.content .row .mega-links {
    margin-left: -40px;
    /* display: flex;
  flex-wrap: wrap;
  flex-direction: row; */
    border-left: 1px solid rgba(255, 255, 255, 0.09);
}

.row .mega-links li {
    padding: 0 20px;
    width: 261px;
}

.row .mega-links li a {
    padding: 0px;
    padding: 0 20px;
    color: #d9d9d9;
    font-size: 13px;
    display: block;
}

.row .mega-links li a:hover {
    color: #f2f2f2;
}

.wrapper .btn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.wrapper .btn.close-btn {
    position: absolute;
    right: 30px;
    top: 10px;
}

.divbtn {
    display: none;
}

@media (min-width:428px) and (max-width: 767px) {
    .serviceslinks {
        display: block;
    }

    .wrapper .nav-links {
        display: none;
    }

    .active {
        display: flex;
        flex-direction: column;
        margin-top: 42rem;
        background: #242526;
        width: 58rem;
        align-items: center;
        position: relative;
        left: 2rem;
    }

    .mobile-item {
        display: none;
    }

    li a {
        color: #f2f2f2;
        text-decoration: none;
        font-size: 29px;
        transition: all 0.3s ease;
    }

    .divbtn {
        display: flex;
    }

    .togglebtnx {
        float: right;
        /* margin-left: 17rem; */
        position: relative;
        display: flex;
        left: 59rem;
    }

    .btnn {
        color: white;
        background: #242526;
        border: #242526;
    }

}

@media (max-width:428px) {
    .serviceslinks {
        width: 24rem;
        display: block;
    }

    .wrapper .nav-links {
        display: none;
    }

    .active {
        display: flex;
        flex-direction: column;
        margin-top: 42rem;
        background: #242526;
        width: 173rem;
        align-items: center;
        position: relative;
        left: -10rem;
    }

    .mobile-item {
        display: none;
    }

    li a {
        color: #f2f2f2;
        text-decoration: none;
        font-size: 29px;
        transition: all 0.3s ease;
    }

    .divbtn {
        position: relative;
        left: 19px;
        display: flex;
    }

    .togglebtnx {
        /* float: right;  */
        top: -1rem;
        /* margin-left: 17rem; */
        position: absolute;
        display: flex;
        left: 11rem;
    }

    .btnn {
        color: white;
        background: #242526;
        border: #242526;
    }

}

nav input {
    display: none;
}

.body-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding: 0 30px;
}

.body-text div {
    font-size: 45px;
    font-weight: 600;
}