.App {
  overflow-x: hidden;
}

@media(max-width:768px) and (min-width:430px) {
  .App {
    width: 155%;
  }
}

@media(max-width:380px) {
  .App {
    width: 225%;
  }
}

@media(max-width:426px) {
  .App {
    width: 240%;
  }
}